<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ktds.cocomo.mybeacon">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".MenuClickActivity"></activity>
        <activity android:name=".EventClickActivity"></activity>
        <activity android:name=".ServiceClickActivity"></activity>
        <activity android:name=".JustActivity"></activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.GET_TASKS"></uses-permission>
</manifest>